<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Barometer-Mapper">

	<select id="selectBarometerSet" resultType="barometer">
		select *
		from barometer
		order by barometerNum asc
	</select>
	
	<update id="updateBarometerSetBySectionNum" parameterType="barometer">
		update BAROMETER
		set barometerSet = #{barometerSet}
		where sectionNum = #{sectionNum}
	</update>
	
	<update id="updateBarometerErrorRange" parameterType="float">
		update BAROMETER
		set barometerErrorRange = #{barometerErrorRange}
	</update>

</mapper>