<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dustmeter-Mapper">

	<select id="selectDustmeterSet" resultType="dustmeter">
		select *
		from dustmeter
		order by dustmeterNum asc
	</select>
	
	<update id="updateDustmeterSetBySectionNum" parameterType="dustmeter">
		update DUSTMETER
		set dustmeterSet = #{dustmeterSet}
		where sectionNum = #{sectionNum}
	</update>

	<update id="updateDustmeterErrorRange" parameterType="int">
		update DUSTMETER
		set dustmeterErrorRange = #{dustmeterErrorRange}
	</update>

</mapper>